* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px; /* Puoi modificare questa larghezza in base alle tue esigenze */
}
